/* styles.css */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    margin: 50px;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #999;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    color: #39833c;
}
input[type=submit] {
    background-color: #4CAF50; /* Green */
    border-radius: 10px;
    border-color: #39833c;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.banner {
    width: 100%;
    height: 25px;
    border: solid;
    background-color: #333333;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.banner a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.banner a:hover {
    text-decoration: underline;
}
.dot {
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
  }